.brick-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 1280px) {
  .brick-list {
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

@media (max-width: 480px) {
  .brick-list {
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  }

  .brick-item {
    font-size: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
  }
}
